.card {
  width: 350px;
  height: 402px;
  border: 1px solid rgba(245, 245, 245, 1);
  border-radius: 5px;
  padding: 10px;
  background-color: orange;

  .cardImage {
    width: 330px;
    height: 200px;
    border-radius: 5px;
    margin-bottom: 16px;
    object-fit: cover;
  }

  .topWrapper {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    font-size: 12px;
    color: var(--color-text-light);
    margin-bottom: 7px;

    .tag {
      margin-right: 4px;
      color: var(--color-text);
    }
  }
  .title {
    margin-bottom: 6px;
    font-weight: 700;
  }

  .text {
    margin-bottom: 21px;
    color: var(--color-text-light);
  }
}
